.user-component{
    display: flex;
}
.user-component, .user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 35.7%;
 
}

.user-component__text{
margin-left: 12px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.user-component__avatar__size__lg{
    width: 80px;
    height: 80px;
    

}
.user-component__avatar__size__sm{
    width: 60px;
    height: 60px;
}

.user-component__title--notborder{
    font-weight: 400;
}
.user-component{
    display: flex;
    justify-content: space-between;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__time{
    color: rgba(0, 0, 0, 0.4);
    display: block;
    margin: 10px 0 ;
    font-size: 13px;
    margin-bottom: 5px;
}