#chat-screen, #chat-screen .status-bar, #chat-screen .alt-header{
    background-color: #abc1d1;
}
#chat-screen{
    height: 1100vh;
}

.alt-header__column i{
    margin: 0 10px;
}

#chat-screen .main-screen{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chat-timestep{
    border-radius: 15px;
    padding: 8px 10px;
    background-color: black;
    opacity: 0.3;
    color: white;
    text-align: center;
}