#friend_display_links {
   text-align: center;
    display: block;
    padding: 15px 0;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #fafafa
}

#friend_display_links i{
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.3)
}

.friends-screen__channel {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
@keyframes hide-splash-screen{
    from {
        opacity: 1;
    }
    to{ 
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen{
    background-color: var(--yellow);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   z-index: 5;
    bottom: 0;
    font-size: 132px;
    width: 100vw;
    height: 100vh;
    animation: hide-splash-screen 0.4s ease-in-out forwards;
    animation-delay: 2s ;
}
