

.user-component__subtitle {
display: flex;
align-items: center;

}
    .user-component__subtitle .alram{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    width: 15px;
    height: 15px;

  
    border: 1px solid tomato ;
    border-radius: 50%;
    color: tomato;
}

.user-component__subtitle .alram i {
    font-size: 10px;
}